# ignore temp folders
.DS_Store
.ipynb_checkpoints
__pycache__

# use ! to mark retention
# use doc/*.txt for files under folders
# use doc/**.txt for files under all sub folders (recrusive)
4-DSND/4-实验设计与推荐系统/file/.DS_Store
